VITE_SUPABASE_URL=https://ftxyuhwejcqxoyhmkczl.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_6wykfsdrjqNFsREjd8Johg_uGcFLqse

# SMTP Configuration
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
ADMIN_EMAIL=Info@newbharatelectricals.com
