VITE_SUPABASE_URL=https://ftxyuhwejcqxoyhmkczl.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_6wykfsdrjqNFsREjd8Johg_uGcFLqse

# SMTP Configuration
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_USER=info@newbharatelectricals.com
SMTP_PASS=Sahibmazhar354@
ADMIN_EMAIL=Info@newbharatelectricals.com
